<header
  class="header {{ if site.Params.navbar_fixed }}sticky top-0{{ end }} z-30 bg-theme-light dark:bg-darkmode-theme-light shadow-md">

  <div class="container mx-auto px-4 grid md:grid-cols-5 md:gap-4 items-center grid-cols-3 gap-3">

    <!-- Bloc Gauche (Logo) - Colonne 1 -->
    <div class="">
      <a class="navbar-brand block text-white text-xl font-bold" href="{{ site.Home.RelPermalink }}">
        {{ partial "logo" }}
      </a>
    </div>
    {{ $currentPage := . }}
    <!-- Menu de Navigation Centré - Colonnes 2-4 -->
    <nav class="md:col-span-3">
      <ul class="hidden md:flex space-x-14 justify-center items-center min-h-14">
        {{ $currentPage := . }}
        {{ range site.Menus.main }}
        {{ $menuURL := .URL | absLangURL }}
        {{ $pageURL := $currentPage.Permalink | absLangURL }}
        {{ if not (hasPrefix $menuURL "/") }}
        {{ $menuURL = (printf "/%s" $menuURL) }}
        {{ end }}
        {{ $active := eq $menuURL $pageURL }}
        {{ if .HasChildren }}
        <li class="relative dropdown">
          <button class="text-md text-black flex items-center dark:text-white">
            {{ .Name }}
            <svg class="inline h-4 w-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu absolute w-48 bg-theme-light dark:bg-darkmode-theme-light z-10 ">
            {{ range .Children }}
            <li>
              <a href="{{ .URL | absLangURL }}"
                class="block px-4 py-2 text-dark dark:text-white  hover:bg-gray-200 dark:hover:bg-neutral-900">
                {{ .Name }}
              </a>
            </li>
            {{ end }}
          </ul>
        </li>
        {{ else }}
        <li>
          <a class="text-md text-black dark:text-white  hover:underline {{ if $active }}font-bold{{ end }}" {{ if findRE
            `^http` .URL }} target="_blank" rel="noopener" {{ end }} href="{{- if findRE `^#` .URL -}}
                    {{- if not $.IsHome -}}
                      {{- site.Home.RelPermalink -}}
                    {{- end }}{{- .URL -}}
                  {{- else -}}
                    {{- .URL | relLangURL -}}
                  {{- end -}}">{{ .Name }}</a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </nav>

    <!-- Bloc Droit (Icônes/Boutons) - Colonne 5 -->
    <div class="flex justify-end space-x-4">
      {{ with site.Params.search }}
      {{ if .enable }}
      <button aria-label="search"
        class=" text-dark hover:text-primary dark:border-darkmode-border inline-block  md:pr-5 text-xl dark:text-white dark:hover:text-darkmode-primary"
        data-target="search-modal">
        <i class="fa-solid fa-search"></i>
      </button>
      {{ end }}
      {{ end }}

      <!-- Bouton de changement de thème avec SVG -->
      <button data-theme-switcher id="theme-toggle"
        class="w-8 h-8 bg-dark text-white hover:bg-gray-500 rounded-full flex items-center justify-center dark:bg-white dark:text-dark">

        <!-- Icône de soleil (visible par défaut) -->
        <svg id="theme-toggle-sun" class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2">
          <circle cx="12" cy="12" r="5" stroke-linecap="round" stroke-linejoin="round"></circle>
          <line x1="12" y1="1" x2="12" y2="3" stroke-linecap="round" stroke-linejoin="round"></line>
          <line x1="12" y1="21" x2="12" y2="23" stroke-linecap="round" stroke-linejoin="round"></line>
          <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" stroke-linecap="round" stroke-linejoin="round"></line>
          <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" stroke-linecap="round" stroke-linejoin="round"></line>
          <line x1="1" y1="12" x2="3" y2="12" stroke-linecap="round" stroke-linejoin="round"></line>
          <line x1="21" y1="12" x2="23" y2="12" stroke-linecap="round" stroke-linejoin="round"></line>
          <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" stroke-linecap="round" stroke-linejoin="round"></line>
          <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" stroke-linecap="round" stroke-linejoin="round"></line>
        </svg>
        <!-- Icône de lune (cachée par défaut) -->
        <svg id="theme-toggle-moon" class="w-5 h-5 hidden" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 12.79A9 9 0 1111.21 3a7 7 0 109.79 9.79z" />
        </svg>
      </button>

      <!-- Menu Burger (affiché uniquement sur mobile) -->
      <button id="burger-menu" class="md:hidden text-black dark:text-white">
        <!-- Icône du menu burger -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
  </div>

  <!-- Menu Mobile (initialement masqué) -->
  <div id="mobile-menu" class="hidden md:hidden">
    <nav class="flex flex-col items-center space-y-2 mt-4 text-center">
      {{ $currentPage := . }}
      {{ range site.Menus.main }}
      {{ $menuURL := .URL | absLangURL }}
      {{ $pageURL := $currentPage.Permalink | absLangURL }}
      {{ $active := eq $menuURL $pageURL }}
      {{ if .HasChildren }}
      <!-- Menu déroulant mobile pour "Pages" -->
      <div class="w-full pb-4">

        <button
          class="text-xl text-black dark:text-white flex items-center w-full justify-center mobile-dropdown-button">
          {{ .Name }}
          <svg class="inline h-4 w-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>
        <!-- Dropdown menu pour mobile -->
        <div class="mobile-menu-hidden mt-2 w-full bg-whitemode-theme dark:bg-darkmode-theme-light pb-4">
          {{ range .Children }}
          <a href="{{ .URL | absLangURL }}" class="block px-4 py-2 text-black dark:text-white hover:bg-gray-100">
            {{ .Name }}
          </a>
          {{ end }}
        </div>
      </div>
      {{ else }}
      <a href="{{ $menuURL }}" class="text-xl text-black dark:text-white block pb-4">
        {{ .Name }}
      </a>
      {{ end }}
      {{ end }}
    </nav>
  </div>

</header>

<script>
  // Gestion du menu burger
  const burgerMenuButton = document.getElementById('burger-menu');
  const mobileMenu = document.getElementById('mobile-menu');

  burgerMenuButton.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });

  // Gestion du thème
  const themeToggleBtn = document.getElementById('theme-toggle');
  const sunIcon = document.getElementById('theme-toggle-sun');
  const moonIcon = document.getElementById('theme-toggle-moon');

  function applyTheme() {
    const storedTheme = localStorage.getItem('theme');
    const systemPrefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;

    if (storedTheme === 'dark' || (!storedTheme && systemPrefersDark)) {
      document.documentElement.classList.add('dark');
      sunIcon.classList.add('hidden');
      moonIcon.classList.remove('hidden');
    } else {
      document.documentElement.classList.remove('dark');
      sunIcon.classList.remove('hidden');
      moonIcon.classList.add('hidden');
    }
  }

  themeToggleBtn.addEventListener('click', () => {
    if (document.documentElement.classList.contains('dark')) {
      document.documentElement.classList.remove('dark');
      sunIcon.classList.remove('hidden');
      moonIcon.classList.add('hidden');
      localStorage.setItem('theme', 'light');
    } else {
      document.documentElement.classList.add('dark');
      sunIcon.classList.add('hidden');
      moonIcon.classList.remove('hidden');
      localStorage.setItem('theme', 'dark');
    }
  });

  applyTheme();

  // Gestion des sous-menus mobiles
  document.querySelectorAll('.mobile-dropdown-button').forEach(button => {
    button.addEventListener('click', function () {
      const dropdownMenu = this.nextElementSibling;
      if (dropdownMenu.classList.contains('mobile-menu-hidden')) {
        dropdownMenu.classList.remove('mobile-menu-hidden');
        dropdownMenu.classList.add('mobile-menu-visible');
      } else {
        dropdownMenu.classList.remove('mobile-menu-visible');
        dropdownMenu.classList.add('mobile-menu-hidden');
      }
    });
  });
</script>