<style>
    /* Styles additionnels pour afficher le menu déroulant sur les grands écrans */
    .dropdown:hover .dropdown-menu,
    .dropdown-menu:hover {
      display: block;
    }

    .dropdown-menu {
      transition: opacity 0.3s ease;
      opacity: 0;
      display: none;
    }

    .dropdown:hover .dropdown-menu {
      opacity: 1;
    }

    /* Styles pour afficher le menu mobile et les sous-menus */
    .mobile-menu-hidden {
      display: none;
    }

    .mobile-menu-visible {
      display: block;
    }
  </style>








<header
  class="header {{ if site.Params.navbar_fixed }}sticky top-0{{ end }} z-30 bg-theme-light dark:bg-darkmode-theme-light  shadow-md">

  <div class="container mx-auto px-4 grid grid-cols-5 gap-4 items-center">

    <!-- Bloc Gauche (Logo) - Colonne 1 -->
    <div class="">
      <a class="navbar-brand block text-white text-xl font-bold" href="{{ site.Home.RelPermalink }}">
        {{ partial "logo" }}
      </a>
    </div>

    <!-- Menu de Navigation Centré - Colonnes 2-4 -->
    <nav class="md:col-span-3">
      <ul class="hidden md:flex space-x-14 justify-center items-center min-h-20">
        {{ $currentPage := . }}
        {{ range site.Menus.main }}
        {{ $menuURL := .URL | absLangURL }}
        {{ $pageURL := $currentPage.Permalink | absLangURL }}
        {{ $active := eq $menuURL $pageURL }}
        {{ if .HasChildren }}
        <li class="relative dropdown">
          <button class="text-lg text-black flex items-center dark:text-white">
            {{ .Name }}
            <svg class="inline h-4 w-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu absolute w-48 bg-white rounded-md shadow-lg z-10 ">
            {{ range .Children }}
            <li>
              <a href="{{ .URL | absLangURL }}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">
                {{ .Name }}
              </a>
            </li>
            {{ end }}
          </ul>
        </li>
        {{ else }}
        <li>
          <a href="{{ $menuURL }}"
            class="text-lg text-black dark:text-white  hover:underline {{ if $active }}font-bold{{ end }}">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </nav>

    <!-- Bloc Droit (Icônes/Boutons) - Colonne 5 -->
    <div class="flex justify-end space-x-4 sm:col-span-3">
      {{ with site.Params.search }}
      {{ if .enable }}
      <button aria-label="search"
        class=" text-dark hover:text-primary dark:border-darkmode-border inline-block  md:pr-5 text-xl dark:text-white dark:hover:text-darkmode-primary"
        data-target="search-modal">
        <i class="fa-solid fa-search"></i>
      </button>
      {{ end }}
      {{ end }}

      <button data-theme-switcher id="theme-toggle"
        class="w-8 h-8 bg-dark text-white hover:bg-gray-500 rounded-full  items-center justify-center dark:bg-white dark:text-dark">
        <i id="theme-toggle-icon" class="fas fa-moon"></i>
      </button>

      <!-- Menu Burger (affiché uniquement sur mobile) -->
      <button id="burger-menu" class="md:hidden text-black hover:text-blue-500">
        <!-- Icône du menu burger -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
  </div>

  <!-- Menu Mobile (initialement masqué) -->
  <div id="mobile-menu" class="hidden md:hidden">
    <nav class="flex flex-col items-center space-y-2 mt-4 text-center">
      {{ $currentPage := . }}
      {{ range site.Menus.main }}
      {{ $menuURL := .URL | absLangURL }}
      {{ $pageURL := $currentPage.Permalink | absLangURL }}
      {{ $active := eq $menuURL $pageURL }}
      {{ if .HasChildren }}
      <!-- Menu déroulant mobile pour "Pages" -->
      <div class="w-full">
        <button class="text-black hover:text-blue-500 flex items-center w-full justify-center mobile-dropdown-button">
          {{ .Name }}
          <svg class="inline h-4 w-4 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>
        <!-- Dropdown menu pour mobile -->
        <div class="mobile-menu-hidden mt-2 w-full bg-white rounded-md shadow-lg">
          {{ range .Children }}
          <a href="{{ .URL | absLangURL }}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">
            {{ .Name }}
          </a>
          {{ end }}
        </div>
      </div>
      {{ else }}
      <a href="{{ $menuURL }}" class="text-black hover:text-blue-500 block">
        {{ .Name }}
      </a>
      {{ end }}
      {{ end }}
    </nav>
  </div>









</header>

<script>
  // Gestion du menu burger
  const burgerMenuButton = document.getElementById('burger-menu');
  const mobileMenu = document.getElementById('mobile-menu');

  burgerMenuButton.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });

  // Gestion du thème
  const themeToggleBtn = document.getElementById('theme-toggle');
  const themeToggleIcon = document.getElementById('theme-toggle-icon');

  themeToggleBtn.addEventListener('click', () => {
    if (document.documentElement.classList.contains('dark')) {
      document.documentElement.classList.remove('dark');
      themeToggleIcon.classList.remove('fa-sun');
      themeToggleIcon.classList.add('fa-moon');
      localStorage.setItem('theme', 'light');
    } else {
      document.documentElement.classList.add('dark');
      themeToggleIcon.classList.remove('fa-moon');
      themeToggleIcon.classList.add('fa-sun');
      localStorage.setItem('theme', 'dark');
    }
  });

  function applyTheme() {
    const storedTheme = localStorage.getItem('theme');
    const systemPrefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;

    if (storedTheme === 'dark' || (!storedTheme && systemPrefersDark)) {
      document.documentElement.classList.add('dark');
      themeToggleIcon.classList.remove('fa-moon');
      themeToggleIcon.classList.add('fa-sun');
    } else {
      document.documentElement.classList.remove('dark');
      themeToggleIcon.classList.remove('fa-sun');
      themeToggleIcon.classList.add('fa-moon');
    }
  }

  applyTheme();

  // Gestion des sous-menus mobiles
  document.querySelectorAll('.mobile-dropdown-button').forEach(button => {
    button.addEventListener('click', function () {
      const dropdownMenu = this.nextElementSibling;
      if (dropdownMenu.classList.contains('mobile-menu-hidden')) {
        dropdownMenu.classList.remove('mobile-menu-hidden');
        dropdownMenu.classList.add('mobile-menu-visible');
      } else {
        dropdownMenu.classList.remove('mobile-menu-visible');
        dropdownMenu.classList.add('mobile-menu-hidden');
      }
    });
  });
</script>