{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="grid sm:grid-flow-col sm:grid-rows-3">
      <div class="sm:row-span-3 sm:pr-10">
        {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "mx-auto mb-6" "Size" "200x190") }}
      </div>
      <div class="sm:col-span-2">
        <h1>{{site.Data.bio.name}}</h1>
      </div>
      <div class="sm:col-span-2">
        <p>{{site.Data.bio.short_phrase}}</p>
      </div>
      <div class="sm:col-span-2">
        <ul class="social-icons inline-block align-bottom ">
          {{ range site.Data.social.main }}
          <li class="mt-5 sm:mt-0">
            <a target="_blank" aria-label="{{ .name }}" rel="nofollow noopener" href="{{ .link | safeURL }}">
              <i class="{{ .icon }}"></i>
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="row justify-center">
      <div class="">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>
</section>
{{ end }}