{{ define "main" }}
<section class="">
  <div class="container text-center">
    <div class="from-body to-theme-light dark:from-darkmode-body dark:to-darkmode-theme-light rounded-2xl  px-8 pt-8 pb-4">
      <h1>Blog</h1>
      <!-- {{ partial "components/breadcrumb" (dict "Context" . "Class" "mt-6") }} -->
    </div>
  </div>
  <div class="container">
    <div class="row gx-1">
      <!-- blog posts -->
      <div class="">
        <div class="grid grid-cols-1 divide-y dark:divide-gray-700">
          {{ $paginator:= .Paginate (where site.RegularPages "Type" "blog") }}
          {{ range $paginator.Pages }}
          <div class="mb-4 pt-4">
            {{ partial "components/blog-card" . }}
          </div>
          {{ end }}
        </div>
        {{ partial "components/pagination.html" . }}
        <!-- sidebar -->
        <div class="">
          <div>{{ $widget:= site.Params.widgets.sidebar }}</div>
          <!-- ... -->
        </div>
        <div class="mt-6">
          <!-- widget -->
          <div>
            {{ $widget:= site.Params.widgets.sidebar }}
          </div>
          <div>
            {{ partialCached "widgets/widget-wrapper" ( dict "Widgets" $widget "Scope" . ) }}
          </div>
        </div>
      </div>
      <!-- sidebar -->
      <div class="">
        <div>{{ $widget:= site.Params.widgets.sidebar }}</div>
        <!-- ... -->
      </div>
    </div>
  </div>

</section>
{{ end }}